@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-wrap: 5px;
}

body{
   background-color: rgba(82, 245, 41, 0.712);   
}

header{
    background-image: linear-gradient(rgb(82, 245, 41), rgb(3, 102, 3));
    padding: 20px;
}
header h1{
    text-align: center;
    margin: 30px;
    padding: 20px;
    color: white;
    font-weight: bold;
}
header img#logo{
   width: 400px;
   margin: auto;
   display: block;
   padding: 20px; 
}
header nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}
header nav a:hover{
    color: rgb(82, 245, 41);
}

section.corpo{
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.425);
}
section.corpo ul.lista{
    padding-left: 20px;
}
section.corpo ol.lista{
    padding-left: 20px;
}
section.corpo ul.lista#material{
    list-style: none;
    padding-left: 0px;
}
section.corpo div{
    margin-top: 50px;
    margin-bottom: 50px;
}
section.corpo div#visao{
    margin-top: 5px;
    margin-bottom: 50px;
}
section.corpo div#historia{
    margin-top: 5px;
    margin-bottom: 50px;
}
section.corpo div#graduacao{
    margin-top: 5px;
    margin-bottom: 50px;
}
section.corpo div#beneficio{
    margin-top: 50px;
    margin-bottom: 10px;
}
section.corpo div#lema{
    margin-top: 50px;
    margin-bottom: 10px;
}
section.corpo div#inicio{
    margin-top: 50px;
    margin-bottom: 10px;
}
section.corpo div h2{
    color: rgb(0, 70, 0);
    margin-bottom: 10px;
}

p.artigo{
    text-align: justify;
}

li{
    padding: 5px;
}

section.corpo2{
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(0, 70, 0);
    border-radius: 5px;
    box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.425);
}
section.corpo2 h2{
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

section.fotos{
    column-count: 2;
    column-gap: 12px;
    
}

div.gente{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

img.foto{
    width: 95%;
    border-radius: 4px;
    border: solid 10px white;
    margin-bottom: 12px;
}
